[submodule "MLX42"]
	path = MLX42
	url = git@github.com:codam-coding-college/MLX42.git
[submodule "libft_extra"]
	path = libft_extra
	url = git@github.com:tinitiuset/libft_extra.git
[submodule "minilibx-linux"]
	path = minilibx-linux
	url = git@github.com:42Paris/minilibx-linux.git
